.img1 {

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first_box{
   margin-bottom :100px;
   height:1000px;
   background-color:red;
   font-size:36px;
}
